<div class="dashboard">
  <div class="gauge-holder">
    <h2>Email Utilisation</h2>
    {{percentage-gauge name='email'
                       percentage=emailUtilisation
    }}
  </div>
  <div class="gauge-holder">
    <h2>Facebook Utilisation</h2>
    {{percentage-gauge name="facebook"
                       percentage=facebookUtilisation
    }}
  </div>
  <div class="gauge-holder">
    <h2>Google Plus Utilisation</h2>
    {{percentage-gauge name="google-plus"
                       percentage=googlePlusUtilisation
    }}
  </div>
  <div class="gauge-holder">
    <h2>Linked In Utilisation</h2>
    {{percentage-gauge name="linked-in"
                       percentage=linkedInUtilisation
    }}
  </div>
  <div class="gauge-holder">
    <h2>Twitter Utilisation</h2>
    {{percentage-gauge name="twitter"
                       percentage=twitterUtilisation
    }}
  </div>
</div>
